@font-face {
    font-family:'Circe';
    src: url('../css/fonts/Circe-Regular.woff2') format('woff2'),
    url('../css/fonts/Circe-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family:'Circe';
    src: url('../css/fonts/Circe-Bold.woff2') format('woff2'),
    url('../css/fonts/Circe-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family:'Lovelace';
    src: url('../css/fonts/Lovelace-Bold.woff2') format('woff2'),
    url('../css/fonts/Lovelace-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
