.form {
    @media (max-width: 1199px) {
        &.form_gold {
            max-width: 591px;
            padding: 0 15px;
            margin: 0 auto;
            height: 580px;
            display: flex;
            align-items: center;

            .form__title {
                font-size: 40px;
                line-height: 104%;
                span {
                    font-size: 40px;
                    &:nth-child(1) {
                        display: block;
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                }
            }
            .form__wrapper {
                max-width: 315px;
                width: 100%;
                margin: 0 auto;
            }
            .form__items {
                flex-flow: column;
            }
            .form__item {
                margin-right: 0;
                margin-bottom: 15px;
            }

            .form__input {
                font-size: 14px;
            }

            .form__footer {
                font-size: 9px;
                display: flex;
                align-items: center;
                &-text {
                    color: #fff;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 120%;
                }
                &-checkbox {
                    top: 0;
                }
            }
        }
    }
    @media (max-width: 991px) {

    }

    @media (max-width: 767px) {
        &__title {
            font-size: 40px;
            line-height: 104%;
        }
        &__items {
            flex-direction: column;
        }
        &__item {
            margin-right: 0;
            margin-bottom: 15px;
        }
    }
}
