.form {
    ::placeholder {
        /* Chrome/Opera/Safari/Firefox */
        color: rgba(#2c2a29, 0.4);
    }

    :-ms-input-placeholder {
        /* IE 10+ */
        color: rgba(#2c2a29, 0.4);
    }
    padding: 50px 80px;

    &__title {
        font-size: 44px;
        line-height: 104%;
        color: #2f2f2f;
        font-weight: 400;
        span {
            &:nth-child(1) {
                display: none;
            }
        }
    }

    &__items {
        display: flex;
        align-items: center;
        margin: 30px 0;
        &:last-child {
            margin-right: 0;
        }
    }

    &__item {
        margin-right: 30px;
        width: 100%;
        max-width: 100%;
        height: auto;
        &:last-child {
            margin: 0;
        }
    }

    &__input {
        width: 100%;
        height: 56px;
        border: 2px solid #fff;
        font-size: 16.7536px;
        color: rgba(#2c2a29, 0.4);
        padding: 0 18px;
        background-color: #fff;
        -webkit-appearance: none;
        outline: none;
        max-width: 100%;
        width: 100%;

        &.error {
            border: 2px solid #ff2626 !important;
            background: #fff;

            &::placeholder {
                /* Chrome/Opera/Safari/Firefox */
                color: #ff2626;
            }

            &:-ms-input-placeholder {
                /* IE 10+ */
                color: #ff2626;
            }
        }

        &.valid {
            border: 2px solid #219653 !important;
            background: #fff;
            color: #219653;

            &::placeholder {
                /* Chrome/Opera/Safari/Firefox */
                color: #219653;
            }

            &:-ms-input-placeholder {
                /* IE 10+ */
                color: #219653;
            }
        }
    }

    &__button {
        font-size: 20px;
        height: 56px;
        border: 0;
        cursor: pointer;
        max-width: 100%;
        width: 100%;
        color: #fff;
        background: radial-gradient(
                95.29% 70.4% at 50% 29.6%,
                rgba(255, 255, 255, 0.204) 0%,
                rgba(255, 255, 255, 0) 100%
            ),
            linear-gradient(93.13deg, #50525b -3.58%, #45495b 101.71%);
    }

    &__footer {
        position: relative;
        display: block;
        font-size: 11px;
        cursor: pointer;
        margin-bottom: 0;
        padding-left: 20px;

        &-checkbox {
            position: absolute;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 11px;
            height: 11px;
            border-radius: 3px;
            background: transparent;

            input {
                display: none;
            }

            &-icon:before {
                display: none;
                content: url("../img/form/check-black.png");

                input:checked + & {
                    display: block;
                }
            }
        }

        &-text {
            font-weight: bold;
            font-size: 18px;
            line-height: 120%;
            letter-spacing: 0.02em;
            color: #684a41;
            & a {
                color: #000;
            }
        }
    }

    &_vertical {
        .form__wrapper {
            max-width: 320px;
            width: 100%;
            margin: 0 auto;
        }
        .form__title {
            font-size: 40px;
            line-height: 104%;
            margin-bottom: 15px;
        }

        .form__items {
            flex-direction: column;
            margin-bottom: 11px;
        }

        .form__item {
            min-height: auto;
            margin-bottom: 22px;
            margin-right: 0;
            &:last-child {
                margin-bottom: 10;
            }
        }

        .form__button {
            height: 65px;
        }

        .form__footer-text {
            text-transform: initial;
            color: #fff;
        }

        .form__footer-checkbox {
            &-icon:before {
                content: url("../img/form/check-vertical.png");
            }
        }

        .send-success {
            color: #000;
        }
    }

    &_discover {
        padding: 0;
        .form__title {
            font-size: 30px;
        }

        .form__input {
            background: #e8e7ee;
            border: 2px solid #e8e7ee;
        }
        .form__button {
            font-size: 18px;
        }
        .form__footer-text {
            color: #878787;
        }
    }

    &__group {
        margin-bottom: 20px;
        font-size: 25px;
    }
}

label.error {
    display: none !important;
}

.widget-form-privacy {
    display: none !important;
}

.send-success {
    color: #000;
    h3 {
        margin-bottom: 15px;
    }
}
