.services {
    @media (max-width: 1279px) {
    }
    @media (max-width: 1199px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    @media (max-width: 991px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @media (max-width: 767px) {
        &__title {
            font-size: 26px;
        }
        &__item {
            padding: 15px;
        }
    }

    @media (max-width: 359px) {
        &__title {
            font-size: 24px;
        }
    }
}
