.organizer {
    background: url("../img/about/about-bg.png") no-repeat top 732px center / cover;
    padding: 140px 0 0;
    &__title {
        text-align: center;
    }
    &__text {
        &:first-of-type {
            margin-bottom: 20px;
        }
    }
    &__img {
        margin: 0 auto;
    }

    &__side {
        margin-bottom: 50px;
    }
    &__top-content {
        display: flex;
        flex-direction: column;
        margin-bottom: 260px;
    }

    &__bottom-content {
        background: #fff;
        padding-bottom: 140px;
        position: relative;
        z-index: 1;
        &:before {
            content: url('../img/organizer/bg-franchise.png');
            position: absolute;
            top: -239px;
            left: 0;
            z-index: -1;
        }
    }
    &__subtitle {
        font-family: "Tenor Sans", sans-serif;
        font-size: 36px;
        line-height: 124%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 40px;
    }

    &__desc {
        font-family: "Tenor Sans", sans-serif;
        font-size: 44px;
        line-height: 144%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #c49c37;
        margin-bottom: 20px;
    }

    &__franchise {
        display: grid;
        grid-template-columns: 5fr 7fr;
        grid-gap: 30px;
        margin-bottom: 70px;
    }

    &__franchise-btn {
        margin-top: 30px;
        margin-left: 65px;
        background: radial-gradient(95.29% 70.4% at 50% 29.6%, rgba(255, 255, 255, 0.204) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(93.13deg, #50525B -3.58%, #45495B 101.71%);
        color: #fff;
        max-width: 361px;
        height: 57px;
    }

    &__franchise-numbs-row {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    &__franchise-numb {
        &-text {
            display: block;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
        }
        &-count {
            font-family: "Tenor Sans", sans-serif;
            font-size: 52px;
            line-height: 124%;
            letter-spacing: 0.02em;
            text-transform: uppercase;
        }
        &-separate {
            display: block;
            height: 120px;
            width: 3px;
            background-color: #000;
            transform: rotate(15deg);
            margin: 0 50px;
        }
    }
}
